.product-description {
    figure {
        font-size: initial;

        &.table{
            width: auto;
            margin-left: -8px;
            margin-right: -8px;
        }
    }
    table {
        table-layout: fixed;
        width: 100%;

        td {
            padding-right: 8px;
            padding-left: 8px;
            border-top: none;
            @include textos(texts);
            vertical-align: inherit;
        }
    }
    p {
        @include textos(texts);
    }
   
    @include media-breakpoint-down(md) { 
        table td {  display: block; width: 100%;}
    }
}

.product-gallery {
    min-height: 25vh;
}
